:root{
    --mainColor:#363636;
    --secondaryColor:#303030;

    --borderColor:#1d1520;

    --mainText:white;
    --secondaryText:#eeeeee;

    --themeDotBorder:#fff;

    --previewBg:#f28b2a60;
    --previewShadow:#f28c2a;
    
    --buttonColor:#f28c2a;

}